.header{
    background: #151515 url("../images/simple2.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header .social{
    bottom: 50px;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.header #typing-text{
    text-shadow: 0 0 20 red;
}
.header .text-container{
    z-index: 10;
}
.about-img{
    width: 200px;
}
.header .roles{
    font-family: lora-regular, serif;
}
.slide{
    width: 100%;
    margin: 0 auto;
    // height: 80%;
}
.carousel-inner {
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 00px;
    border-color: #000000;
    border-style:double
}
@media(max-width:767px){
    .header .social i{
        font-size: 30px;
    }
    .header .roles{
        font-size: 18px !important;
    }
    .about-content{
        flex-direction: column;
    }
}
.services {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.services::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.services .container {
    z-index: 10;
}
.stats .stat {
    border-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
 }
 .stats{
    background: linear-gradient(to bottom,black,#cc005f);
 }
.project:hover{
    transform: scale(1.07);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;    
}
.btn:hover{
    transform: scale(1.08) !important;
    transition: all 0.5s ease-in-out !important;
    opacity: 0.8 !important;
} 
.hello{
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.insta{
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.progress-bar{
    background: linear-gradient(to right,blue,red)
}
.glow {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
            0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }

    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
            0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}